<!--nav bar partial will b here-->>
<!DOCTYPE html>

<nav>
  <span class="logo">Wiki Maps</span>
  <div><img src="/images/profile-hex.png"></div>
  <h2>Username</h2>
  <% if (typeof(username) !== 'undefined') { %>
    <p>Logged in as <%= username %></p>
  <% } else { %>
    <p>Not logged in</p>
  <% } %>
  <section class="user-options">
    <h3>Search</h3>
    <div>
      <form id= "maps-search">
        <label for="nav-search">Enter a valid place on Earth.</label>
        <textarea name="text" id="nav-search"></textarea>
        <div>
          <button type="submit">search</button>
        </div>
      </form>
    </div>
    <div>
      <form method="GET" action="/api/maps/createMap">
        <button type="submit">Create a Map</button>
      </form>
    </div>
    <h3>Favourite Maps</h3>
    <div class="favourite-maps">
      <% favouritesNavBar.forEach(item => { %>
        <form method="GET" action="/api/maps/favourites/<%= item.map_id %>">
          <button type="submit"><%= item.title %></button>
        </form>
      <% }); %>
    </div>

    <h3>Contributed Maps</h3>
    <div class="contributed-maps">
      <% contributedNavBar.forEach(item => { %>
        <form method="GET" action="/api/maps/contributed/<%= item.map_id %>">
          <button type="submit"><%= item.title %></button>
        </form>
      <% }); %>
    </div>
    <div>
      <form method = "POST" action = "/users/logout">
        <button type= "submit">Logout</button>
      </form>
    </div>
  </section>
</nav>
